.button{
    border: 1px solid #0460BA;
    border-radius: 7px;
    padding: 6px 0;

    font-size: 15px;
    line-height: 32px;
    font-weight: 700;
    font-family: var(--nunitoSans);
    white-space: nowrap;

    cursor: pointer;
}