.digitalSignageContainer{
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 34px;
    padding-bottom: 81px;
}

.bgc{
    background: linear-gradient(180deg, #FFFFFF 0%, #F3F9FF 100%);
}